.background{
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-attachment: fixed;
    opacity: 10;
  }    
  
.background2{
    background-image: url(../logos/fondo.png);
    background-size: cover;
    background-attachment: fixed;
    opacity: 10;
}
