.background{
    background-image: url(../img/fondo\ negro.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 10;
  }    
  
.background2{
    background-image: url(../img/fondo\ azul.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 10;
}
