@import url('http://fonts.cdnfonts.com/css/joy-multiplication');

*{font-family: 'Joy Multiplication', sans-serif;
  padding: 0%;
  margin: 0%;
}

body{ 
    display:flex; 
    flex-direction:column; 
}
  
  h1{
    color: whitesmoke;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
  
  h2{
    color: whitesmoke;
    font-size: 500%;
    font-weight: bold;
}
  
  h3{
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 200%;
    color: whitesmoke;
}
  
  p{
      color: whitesmoke;
}
  